@model Ferretero.Models.TipoAplicacion
@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar Tipo de Aplicacion</h1>

<form method="post" asp-action="Eliminar">
    <input asp-for="Id" type="hidden" />
    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row mb-3">
            <h2 class="text-info">Esta seguuro que quiere eliminar esta categoria?</h2>
        </div>

        <div class="container">
            <div class="row mb-3">
                <div class="col-md-6">
                    <label asp-for="Nombre" class="form-label">Nombre Tipo de Aplicacion</label>
                    <input asp-for="Nombre" class="form-control" disabled />
                </div>
            </div>


            <div class="row">
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="submit" class="btn btn-primary me-md-2">Eliminar</button>
                    <a asp-controller="TipoAplicacion" asp-action="Index" class="btn btn-success">Regresar</a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}